.checkout {
    display: flex;
    padding: 20px;
    height: max-content;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
}


.checkout__ad {
    width: 1000px; /* Extra added */
    margin-bottom: 10px; 
    height:100px;
}

.checkout__right {
    /* margin-left: 20px; */
    margin: 20px;
}

.checkout__title {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}


/* after 1:20 pm */
.checkout__row {
    margin-left: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}